{% extends 'students/base.html' %}


{% block content %}
<h3 class="m-4"> Students </h3>
<div class="row">
    <div class="col-12">
        {% if students %}
        <div class="card border-secondary ml-3 mr-3 mb-3 ">
          <div class="card-header">Student details</div>
          <div class="card-body">
            <p class="card-text">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Student ID</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Faculty</th>
                      <th scope="col">More</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for student in students %}
                    <tr>
                      <td>{{ student.student_id }}</td>
                      <td>{{ student.firstname }}</td>
                      <td>{{ student.lastname }}</td>
                      <td>{{ student.email }}</td>
                      <td>{{ student.faculty }}</td>
                      <td>
                        <button type="button" class="btn btn-success me-1" href="{% url 'students:view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                          <i class="fa-sharp fa-solid fa-circle-info fa-lg"></i>
                        </button>

                        <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="True">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Student: {{student.firstname}} {{student.lastname}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true"></span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <ul class="list-unstyled">
                                  <li> Student ID: <strong> {{student.student_id}} </strong></li>
                                  <li> First Name: <strong> {{student.firstname}} </strong></li>
                                  <li> Last Name: <strong> {{student.lastname}} </strong></li>
                                  <li> Email: <strong> {{student.email}} </strong></li>
                                  <li> Faculty: <strong> {{student.faculty}} </strong></li>
                                  <li> Department: <strong> {{student.department}} </strong></li>
                                  <li> cgpa: <strong> {{student.cgpa}} </strong></li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <a class="btn btn-warning mr-1" href="{% url 'students:update' student.id %}">
                          <i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                        <button type="button" class="btn btn-danger mr-1"  data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                          <i class="fa-solid fa-trash"></i>
                        </button> 

                        <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="True">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Student: {{student.firstname}} {{student.lastname}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true"></span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p> Are you sure you want to delete this student ?</p>
                              </div>
                              <div class="modal-footer">
                                <form action="{% url 'students:delete' student.id %}" method="POST">
                                  {% csrf_token %}
                                  <input type="submit" class="btn btn-primary" value="Delete">
                                </form>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </p>
          </div>
        </div>
        {% else %}
        <h5 class="alert alert-primary mr-4 ml-4"> No Students have been registered </h5>
        {% endif %}
    </div>
</div>
{% endblock content %}